@import "src/assets/colors";

.burgerButton {
  height:84px;
  width: 84px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $primary-secondary !important;
  border-left: 1px solid $primary-secondary !important;
  &:hover {
    background-color: $primary;
  }
}