@import "src/assets/colors";

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.forgotPass {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $secondary;
  margin-bottom: 38px;
  cursor: pointer;
}

.darkForgotPass {
  color: $white;
}

.signUp {
  margin-top: 24px;
  text-align: center;
  width: 544px;
}
.darkSignUp {
  color: $white;
}

.navButton {
  text-decoration: none;
  margin-left: 4px;
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}





